.body-layout {
  height: 30vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.body-font {
  font-weight: 700;
  font-size: 1.5rem;
  text-align: center;
}

.form-layout {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.each-dropdown-layout {
  display: flex;
  flex-direction: column;
  width: 10rem;
  margin: 2rem;
}

.label-font {
  opacity: 0.5;
}

.radio-list-layout {
  margin-top: 1rem;
}

.radio-button-layout {
  margin: 0.25rem 0rem;
}

.time-layout {
  height: 30vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.time-font {
  font-weight: 700;
  font-size: 1.5rem;
  text-align: center;
}

.error-margin {
  margin-bottom: 5rem;
}

.error-message-layout {
  height: 10vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error-font {
  font-weight: 700;
  font-size: 1.5rem;
  text-align: center;
  color: red;
}

.find-button-layout {
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.find-button {
  padding: 0.5rem;
  width: 10rem;
  font-weight: 700;
  cursor: pointer;
}

@media (max-width: 375px) {
  .find-button {
    width: 5rem;
  }
}
